<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSharpXMLSerialization.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CSharpXMLSerialization.Settings>
            <setting name="filename" serializeAs="String">
                <value>Test.xml</value>
            </setting>
            <setting name="folder" serializeAs="String">
                <value>C:\GitHub\DotNetStatistics\CSharpXMLSerialization\CSharpXMLSerialization\</value>
            </setting>
        </CSharpXMLSerialization.Settings>
    </userSettings>
</configuration>